# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Docker
Dockerfile
docker-compose.yml
docker/

# Git
.git
.gitignore

# ENV
.env
.venv
env/
.venv/

# Misc
README.md
Makefile
test.db
config/settings-dev.yaml
logs/
test/
uploads/